<!-- Nav and Banner -->

  <div class="row">
    <div class="large-12 columns">
      <ul class="button-group right">
        <li><%= link_to('Register', new_subscriber_path, :remote => true, :class => 'button') %></li>
        <li><%= link_to('Login', login_path, :remote => true, :class => 'button') %></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h1>Right Swipr</h1>
    </div>
  </div>

  <!-- End Nav and Banner -->